{%  extends 'base.html' %}
{% load static %}
{% block content %}
<section class="createPage">
    <div class="container p-5 my-5 bg-dark text-white">


        <h1 class="text-center"> Details Job Profile </h1>
            <div class="container">
                <h4>Right name:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.name }}</h4>
                <h4>Description:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.description }}</h4>
                <h4>Job Access:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.job_access }}</h4>
                <h4>
                    <a href="{% url 'department_edit' object.pk %}" class="edit">Edit</a>
                    <a href="{% url 'department_delete' object.pk %}" class="edit">Delete</a>
                </h4>
            </div>
    </div>
</section>
{% endblock %}