{%  extends 'base.html' %}
{% load static %}
{% block content %}
<section class="createPage">
    <div class="container p-5 my-5 bg-dark text-white">


        <h1 class="text-center"> Details {{ app }} </h1>
            <div class="container">
                {% if app == 'Job Profile' %}
                <h4>Job profile name:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.name }}</h4>
                <h4>Description:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.description }}</h4>
                <h4>Job Access:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.job_access_all }}</h4>
                {% else %}
                <h4>First name:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.first_name }}</h4>
                <h4>Last name:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.last_name }}</h4>
                <h4>Email:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.email }}</h4>
                <h4>Job Profile:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.with_job_profile_all }}</h4>
                {% endif %}
                <h4>In Department:&nbsp;&nbsp;&nbsp;&nbsp; {{ object.in_department }}</h4>
                <h4>
                    {% if app == 'Job Profile' %}
                    <a href="{% url 'job_profile_edit' object.pk %}" class="edit">Edit</a>
                    <a href="{% url 'job_profile_delete' object.pk %}" class="edit">Delete</a>
                    {% else %}
                    <a href="{% url 'work_people_edit' object.pk %}" class="edit">Edit</a>
                    <a href="{% url 'work_people_delete' object.pk %}" class="edit">Delete</a>
                    {% endif %}
                </h4>
            </div>
    </div>
</section>
{% endblock %}