                <li><a href="{% url 'access_rights_add' %}">Access rights Add</a></li>
                <li><a href="{% url 'access_rights_list' %}">Access rights List</a></li>
                <li><a href="{% url 'department_add' %}">Department Add</a></li>
                <li><a href="{% url 'department_list' %}">Department List</a></li>
                <li><a href="{% url 'job_profile_add' %}">Job_profile Add</a></li>
                <li><a href="{% url 'job_profile_list' %}">Job_profile List</a></li>
                <li><a href="{% url 'work_people_add' %}">Work People Add</a></li>
                <li><a href="{% url 'work_people_list' %}">Work People List</a></li>